@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #222;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
main {
    padding-top: 5rem; /* Adjust padding to account for fixed header */
}
section {
    padding: 2rem;
    margin: 2rem auto;
    background-color: white;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about-text {
    flex: 2;
    margin-right: 2rem;
}
.about-text h3 {
    margin-top: 1.5rem;
}
.about-image {
    flex: 1;
    max-width: 400px;
}
.about-image img {
    width: 100%;
    height: auto;
    display: block;
}
.portfolio-item, .personal-project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width
